<!DOCTYPE html>
<html class="full-height" lang="pt">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O // Home</title>
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap-->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Template styles-->
    <style>
        /* TEMPLATE STYLES */

        .undef {
            font-family: "Comic Sans MS";
        }

        .flex-center {
            color: #fff;
        }

        .intro-1 {
            background: url("img/awesomo-bg.jpg")no-repeat center center;
            background-size: cover;
        }

        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }

        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }
    </style>
</head>

<body>
    <header>
        <!-- Navbar-->
        <% include partials/navbar-pt %>

            <!-- /.Navbar-->
            <!-- Intro Section-->
            <section class="view intro-1 hm-black-strong">
                <div class="full-bg-img flex-center">
                    <div class="container">
                        <ul>
                            <li>
                                <h1 class="h1-responsive font-bold wow fadeInDown" data-wow-delay="0.2s">AWESOM-O Discord Bot</h1>
                            </li>
                            <li>
                                <p class="lead mt-4 mb-5 wow fadeInDown">O Teu Amigo Robô Do Discord. Feito com amor</p>
                            </li>
                            <li>

                                <a class="btn btn-orange btn-lg wow fadeInUp " href="https://www.patreon.com/awesomo" data-wow-delay="0.2s" rel="nofollow">Suporta-nos no Patreon</a>
                                <a class="btn btn-indigo btn-lg wow fadeInUp " href="auth/discord"
                                    data-wow-delay="0.2s" rel="nofollow">Entra Com Discord</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
    </header>
    <!-- Main container-->
    <div class="container">
        <div class="divider-new pt-5">
            <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">About us</h2>
        </div>
        <!-- Section: About-->
        <section class="text-center wow fadeIn" id="about" data-wow-delay="0.2s">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit explicabo assumenda eligendi ex exercitationem
                harum deleniti quaerat beatae ducimus dolor voluptates magnam, reiciendis pariatur culpa tempore quibusdam
                quidem, saepe eius.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit explicabo assumenda eligendi ex exercitationem
                harum deleniti quaerat beatae ducimus dolor voluptates magnam, reiciendis pariatur culpa tempore quibusdam
                quidem, saepe eius.</p>
        </section>
        <!-- Section: About-->
        <div class="divider-new pt-5">
            <h2 class="h2-responsive wow fadeIn">Best features</h2>
        </div>
        <!-- Section: Best features-->
        <section id="best-features">
            <div class="row pt-3">
                <!-- First columnn-->
                <div class="col-lg-3 mb-r">
                    <!-- Card-->
                    <div class="card wow fadeIn">
                        <!-- Card image-->
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(25).jpg" alt="Card image cap">
                        <!-- Card content-->
                        <div class="card-body">
                            <!-- Title-->
                            <h4 class="card-title text-center">360 Advertising</h4>
                            <hr>
                            <!-- Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <!-- /.Card-->
                </div>
                <!-- First columnn-->
                <!-- Second columnn-->
                <div class="col-lg-3 mb-r">
                    <!-- Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.2s">
                        <!-- Card image-->
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(14).jpg" alt="Card image cap">
                        <!-- Card content-->
                        <div class="card-body">
                            <!-- Title-->
                            <h4 class="card-title text-center">Top-class Team</h4>
                            <hr>
                            <!-- Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <!-- /.Card-->
                </div>
                <!-- Second columnn-->
                <!-- Third columnn-->
                <div class="col-lg-3 mb-r">
                    <!-- Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.4s">
                        <!-- Card image-->
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(21).jpg" alt="Card image cap">
                        <!-- Card content-->
                        <div class="card-body">
                            <!-- Title-->
                            <h4 class="card-title text-center">Top-class Team</h4>
                            <hr>
                            <!-- Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <!-- /.Card-->
                </div>
                <!-- Third columnn-->
                <!-- First columnn-->
                <div class="col-lg-3 mb-r">
                    <!-- Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.6s">
                        <!-- Card image-->
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(37).jpg" alt="Card image cap">
                        <!-- Card content-->
                        <div class="card-body">
                            <!-- Title-->
                            <h4 class="card-title text-center">24/7 Support</h4>
                            <hr>
                            <!-- Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <!-- /.Card-->
                </div>
                <!-- First columnn-->
            </div>
        </section>
        <!-- /Section: Best features-->
        <div class="divider-new">
            <h2 class="h2-responsive wow fadeIn">Contact us</h2>
        </div>
        <!-- Section: Contact-->
        <section id="contact pb-5">
            <div class="row">
                <!-- First column-->
                <div class="col-md-8 mb-5">
                    <div class="z-depth-1 wow fadeIn" id="map-container" style="height: 300px;"></div>
                </div>
                <!-- /First column-->
                <!-- Second column-->
                <div class="col-md-4">
                    <iframe src="https://discordapp.com/widget?id=371762864790306817&amp;theme=dark" height="500" allowtransparency="true" frameborder="0"></iframe>
                </div>
                <!-- /Second column-->
            </div>
        </section>
        <!-- Section: Contact-->
    </div>
    <!-- / Main container-->
    <!-- Footer-->
    <% include partials/footer-pt %>
        <!-- /.Footer-->
        <!-- SCRIPTS-->
        <!-- JQuery-->
        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap dropdown-->
        <script type="text/javascript" src="js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript-->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript-->
        <script type="text/javascript" src="js/mdb.min.js"></script>
        <!-- Animations init-->
        <script>
            new WOW().init();
        </script>

        <script>
            const keyMap = {
                37: "left",
                38: "up",
                39: "right",
                40: "down",
                65: "a",
                66: "b"
            };

            const konamiCode = ["up", "up", "down", "down", "left", "right", "left", "right", "b", "a"];

            var konamiPosition = 0;

            document.addEventListener("keydown", function (e) {
                console.log(konamiPosition);
                if (keyMap[e.keyCode] == konamiCode[konamiPosition]) {

                    konamiPosition++;

                    if (konamiPosition == konamiCode.length) {
                        success();
                        konamiPosition = 0;
                    }
                } else {
                    konamiPosition = 0;
                }

            });

            function success() {

                document.styleSheets[8].cssRules[0].selectorText = "*";
            }
        </script>

</body>

</html>