<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Feinwaru // AWESOM-O</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
</head>

<style>
    html,
    body,
    header,
    .view {
        height: 100%;
    }


    @media (max-width: 740px) {
        html,
        body,
        header,
        .view {
            height: 1000px;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {
        html,
        body,
        header,
        .view {
            height: 600px;
        }
    }

    body {
        font-weight: 400;
    }

    #glitch_overlay {
        background: url("/img/awesomo-bg-glitch.png") no-repeat center center;
        background-size: cover;
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;

        mix-blend-mode: color-dodge;
    }

    .intro-2 {
        background: url("/img/awesomo-bg.jpg") no-repeat center center;
        background-size: cover;
    }

    .display-3 {
        letter-spacing: 5px;
    }

    #overlay {
        position: fixed;
        /* Sit on top of the page content */
        display: none;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("https://www.hdwallpapers.in/download/windows_xp_bliss-wide.jpg") fixed no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: 2;
    }

    #glitch_static {
        position: fixed;
        /* Sit on top of the page content */
        display: none;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        z-index: 2;

        mix-blend-mode: color-burn;

        /* mix-blend-mode: color-burn; */
    }

    .frame {
        height: 100%;
        /* equals max image height */
        width: 100%;
        white-space: nowrap;

        text-align: center;
        margin: 1em 0;
    }

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    img {
        background: #3A6F9A;
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
    }
</style>

<body class="creative-lp">

    <!-- Navigation & Intro -->
    <header>

        <!--Intro Section-->
        <section class="view intro-2">
            <div class="mask rgba-gradient-1">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row pt-5 mt-3">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <div class="text-center white-text">
                                <ul class="list-unstyled ">
                                    <li>
                                        <h1 class="display-3 mt-md-5 mt-lg-0 mb-5 font-weight-bold white-text wow fadeIn" data-wow-delay="0.3s">
                                            <strong id="awesomo_heading">AWESOM-O 3.0</strong>
                                        </h1>
                                    </li>
                                    <li>
                                        <h4 id="awesomo_text" class="white-text description mb-4 wow fadeIn" data-wow-delay="0.4s">Sign up for Earliest Access™</h4>
                                    </li>

                                    <!--Grid row-->
                                    <div class="row mt-5 mb-5 pt-4" id="countdown">

                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-3">
                                            <hr class="white mx-5">
                                            <h1 class="display-4 font-weight-bold white-text">
                                                <strong id="count-days">??</strong>
                                            </h1>
                                            <hr class="white mx-5">
                                            <p id="text_days" class="font-weight-bold spacing">DAYS</p>
                                        </div>
                                        <!--Grid column-->

                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-3">
                                            <hr class="white mx-5">
                                            <h1 class="display-4 font-weight-bold white-text">
                                                <strong id="count-hours">??</strong>
                                            </h1>
                                            <hr class="white mx-5">
                                            <p id="text_hours" class="font-weight-bold">HOURS</p>
                                        </div>
                                        <!--Grid column-->

                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-3">
                                            <hr class="white mx-5">
                                            <h1 class="display-4 font-weight-bold white-text">
                                                <strong id="count-minutes">??</strong>
                                            </h1>
                                            <hr class="white mx-5">
                                            <p id="text_mins" class="font-weight-bold spacing">MINS</p>
                                        </div>
                                        <!--Grid column-->

                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-3">
                                            <hr class="white mx-5">
                                            <h1 class="display-4 font-weight-bold white-text">
                                                <strong id="count-seconds">??</strong>
                                            </h1>
                                            <hr class="white mx-5">
                                            <p id="text_secs" class="font-weight-bold spacing">SECS</p>
                                        </div>
                                        <!--Grid column-->

                                    </div>
                                    <!--Grid row-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </header>
    <!-- Navigation & Intro -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- jQuery Countdown -->
    <script type="text/javascript" src="/js/jquery.countdown.min.js"></script>

    <script type="text/javascript">

        const timeout = ms => new Promise(res => setTimeout(res, ms));

        const fadeText = (element, letterTime, lettercb) => {

            return new Promise(async (resolve, reject) => {

                const originalText = element.html().trim();

                if (typeof originalText !== "string") {
                    reject(`fadeText() error: expected string, got ${typeof originalText}`);
                    return;
                }

                if (lettercb === null || lettercb === undefined) {
                    lettercb = (element, originalText, index) => {

                        return `<rawrxd style="color: rgba(0, 0, 0, 0);">${originalText[index]}</rawrxd>`
                    }
                }

                let alteredText = "";

                for (let i = 0; i < originalText.length; i++) {

                    await timeout(letterTime);

                    alteredText += lettercb(element, originalText, i);
                    element.html(alteredText + originalText.substring(i + 1, originalText.length));
                }

                resolve();
            });
        }

        let konamiEnd = false;
        let guaranteeNeon = false;

        let dInterval;
        let hInterval;
        let mInterval;
        let sInterval;

        $(document).ready(function () {

            $("#glitch_video").prop("volume", 0.1);

            dInterval = setInterval(() => {

                let d = Math.floor(Math.random() * 256);

                $("#count-days").html(String.fromCharCode(d));
            }, 15);

            hInterval = setInterval(() => {

                let h = Math.floor(Math.random() * 256);

                $("#count-hours").html(String.fromCharCode(h));
            }, 15);

            mInterval = setInterval(() => {

                let m = Math.floor(Math.random() * 256);

                $("#count-minutes").html(String.fromCharCode(m));
            }, 15);

            sInterval = setInterval(() => {

                let s = Math.floor(Math.random() * 256);

                $("#count-seconds").html(String.fromCharCode(s));
            }, 15);

            setInterval(async () => {

                const rtime = Math.random() * 400 + 100;
                const rstay = Math.random() * 50;
                const rglitchChance = Math.random();
                const rstayChance = Math.random();

                $(".intro-2").css("background-image", "url('/img/awesomo-bg-fuckme.png')");
                $("#glitch_static").show();
                $("#glitch_video").get(0).play();

                if (guaranteeNeon === true) {
                    guaranteeNeon = false;
                    $("#glitch_overlay").show();
                } else {
                    if (konamiEnd === true) {
                        if (rglitchChance > 0.5) {
                            $("#glitch_overlay").show();
                        }
                    }
                }

                await timeout(rtime);

                if (rstayChance > 0.6) {
                    setTimeout(() => {
                        $("#glitch_overlay").hide();
                    }, rstay);
                } else {
                    $("#glitch_overlay").hide();
                }

                $("#glitch_video").get(0).pause();
                $("#glitch_static").hide();
                $(".intro-2").css("background-image", "url('/img/awesomo-bg.jpg')");
            }, 1000);

            /*
            setInterval(async () => {

                const rtime = Math.random() * 200 + 50;

                $("#glitch_overlay").show();

                await timeout(rtime);

                $("#glitch_overlay").hide();
            }, 2000);
            */
        });

        const konamiString = "38,38,40,40,37,39,37,39,66,65";
        let keyCodes = [];
        
        $(document).keydown(async function (e) {
            keyCodes.push(e.keyCode);
            if (keyCodes.toString().indexOf(konamiString) >= 0) {
                $(document).unbind('keydown', arguments.callee);

                // do stuff
                //alert("konami debug");
                await fadeText($("#awesomo_heading"), 150, (element, originalText, index) => {

                    let colour = 255;

                    if (index === 6 || index > 7) {
                        colour = 0;
                    }

                    return `<rawrxd style="color: rgba(0, 0, 0, ${colour});">${originalText[index]}</rawrxd>`
                });

                await fadeText($("#awesomo_text"), 75, (element, originalText, index) => {

                    let colour = 0;

                    if (index === 1 || index === 18) {
                        colour = 255;
                    }

                    return `<rawrxd style="color: rgba(0, 0, 0, ${colour});">${originalText[index]}</rawrxd>`
                });

                //$("#black_overlay").show();

                clearInterval(dInterval);
                $("#count-days").html(`<rawrxd style="color: black;">D</rawrxd>`);
                $("#text_days").text("CODE");
                //await timeout(200);

                //$("#black_overlay").hide();

                await timeout(500);

                //$("#black_overlay").show();

                clearInterval(hInterval);
                $("#count-hours").html(`<rawrxd style="color: black;">E</rawrxd>`);
                $("#text_hours").text(":");
                //await timeout(200);

                //$("#black_overlay").hide();

                await timeout(500);

                //$("#black_overlay").show();

                clearInterval(mInterval);
                $("#count-minutes").html(`<rawrxd style="color: black;">A</rawrxd>`);
                $("#text_mins").text("XXX");
                //await timeout(200);

                //$("#black_overlay").hide();

                await timeout(500);
                
                //$("#black_overlay").show();

                clearInterval(sInterval);
                $("#count-seconds").html(`<rawrxd style="color: black;">D</rawrxd>`);
                $("#text_secs").text("XXX");
                //await timeout(200);

                //$("#black_overlay").hide();

                konamiEnd = true;
                guaranteeNeon = true;
            }
        });
    </script>
    
    <div id="glitch_static">
        <video style="width: 100%" id="glitch_video">
            <source src="static.mp4" type="video/mp4" id="glitch_src">
        </video>
    </div>

    <div id="glitch_overlay"></div>

</body>

</html>