<nav class="navbar navbar-expand-lg navbar-dark elegant-color fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">AWESOM-O Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item btn-group active">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="../dashboard/home">Overview</a>
                        <a class="dropdown-item disabled" href="#">Statistics</a>
                        <a class="dropdown-item" href="../dashboard/leaderboards">Leaderboards</a>
                        <a class="dropdown-item" href="../dashboard/moderation">Moderation</a>
                        <a class="dropdown-item disabled" href="../dashboard/music">Music</a>
                        <a class="dropdown-item disabled" href="#">Games</a>
                        <a class="dropdown-item disabled" href="#">Developer Options</a>
                    </div>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="http://localhost/commands">Commands</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.patreon.com/awesomo">Support on Patreon</a>
                    </li>
                </ul>
            </ul>
            <form class="form-inline">
                <a href="../dashboard">
                    <button class="btn btn-sm align-middle btn-elegant" type="button">Switch Server</button>
                </a>
                <a href="auth/logout">
                    <button class="btn btn-sm align-middle btn-indigo" type="button">Logout</button>
                </a>
            </form>
        </div>
    </div>
</nav>