<nav class="navbar navbar-expand-lg navbar-dark indigo fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">AWESOM-O Discord Bot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dashboard">Dashboard</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="commands">Commands</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="https://www.patreon.com/awesomo">Support on Patreon</a>
                </li>
            </ul>
            <li class="nav-item btn-group float-right">
                <a class="nav-link dropdown-toggle white-text" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/">
                            <img src="img/flag_ico/en.jpg" height="16px"> English</a>
                        <h6 class="dropdown-header">Under Development</h6>
                        <a class="dropdown-item" href="/es">
                            <img src="img/flag_ico/es.jpg" height="16px"> Español</a>
                        <a class="dropdown-item" href="/fr">
                            <img src="img/flag_ico/fr.jpg" height="16px"> Français</a>
                        <a class="dropdown-item" href="/it">
                            <img src="img/flag_ico/it.jpg" height="16px"> Italiano</a>
                    <a class="dropdown-item" href="/pt">
                            <img src="img/flag_ico/pt.jpg" height="16px"> Português</a>    
                        <a class="dropdown-item" href="/pt">
                            <img src="img/flag_ico/pl.jpg" height="16px"> Polski</a>
                    </div>
            </li>
            <form class="form-inline">
                <a href="auth/discord">
                    <button class="btn btn-sm align-middle btn-outline-yellow" type="button" href="auth/discord">Login with Discord</button>
                </a>
            </form>

        </div>
    </div>
</nav>