.jumbotron {
  &-container {
    position: relative;
    height: 1082px;
    &.overlap {
      margin-bottom: -300px;
    }
  }
  &-image {
    z-index: -10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &-gradient {
    position: absolute;
    top: 0;
    z-index: -9;
  }
}