nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $awesomo;
  position: absolute;
  top: 0;
  z-index: 999;

  &.transparent {
    background-color: transparent;
  }

  > div {
    width: 100%;
    padding: 20px 0;

    .language {
      font-size: 16px;
      font-weight: 700;
      color: white;
      text-align: right;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      .nav-items {
        display: inline-flex;
        list-style: none;
        margin-bottom: 0;
        li {
          cursor: pointer;
          margin-right: 30px;
          font-size: 18px;
          font-weight: 500;
          a {
            color: inherit;
            transition: color 150ms ease;
            &:hover {
              text-decoration: none;
              color: $awesomo;
            }

            i {
              transition: transform 250ms ease-out;
              &[data-active="true"] {
                transform: rotateX(180deg)
              }
            }
          }
        }
      }
      .dropdown {
        position: absolute;
        background: white;
        border-radius: 15px 0 15px 15px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        align-self: normal;
        margin-top: 36px;
        overflow: hidden;
        height: 0px;
        transition: all 200ms ease-out;
        z-index: 999;
        &:hover, .active {
          overflow-y: scroll;
          height: 300px;
        }
        ul {
          list-style: none;
          text-align: left;
          padding: 0;
          margin: 0;
          cursor: pointer;
          li {
            background-color: white;
            color: $darkgrey;
            font-weight: 500;
            transition: background-color 200ms ease-out;
            padding: 11px 15px;
            &:hover {
              background-color: rgb(206, 206, 206);
            }
            &:first-child {
              padding: 15px 15px 11px;
            }
            &:last-child {
              padding: 11px 15px 15px;
            }
            img {
              border-radius: 4px;
              height: 25px;
              width: 37px;
              object-fit: cover;
              opacity: 0.8;
              margin-right: 8px;
              box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
      .selector {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        opacity: 1;
        transition: opacity 200ms ease-out;
        padding-bottom: 13px;
        margin-bottom: -13px;
        &:hover {
          opacity: 0.7;
          & + .dropdown {
            overflow-y: scroll;
            height: 300px;
          }
        }
        p {
          margin-bottom: 0;
        }
        .icon {
          height: 21px;
          width: auto;
          padding: 0 11px 0 8px;
        }
      }
    }

    .logo {
      flex-grow: 0;
      img {
        height: 32px;
      }
    }
    h1 {
      font-size: 41px;
      color: white;
      max-width: 530px;
      text-align: center;
      line-height: 49px;
      padding: 0 30px 30px;
      margin: 0 auto;

      @include media-breakpoint-down(sm) {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
}

.dashboard-dropdown {
  position: absolute;
  width: 100%;
  padding: 125px 0 28px;
  background-color: rgba(black, 0.75);
  transform: translateY(-100%);
  backdrop-filter: blur(8px);
  z-index: 998;
  transition: all 0.5s ease;

  @supports (backdrop-filter: blur(8px)) {
    backdrop-filter: blur(8px);
    background-color: rgba(black, 0.45);
  }

  &.visible {
    transform: translateY(0%);
  }

  h3, li, i {
    color: white
  }

  h3 {
    font-family: "Uni Sans", "Roboto";
    display: inline;
    font-size: 30px;
    margin-left: 35px;
  }

  i {
    font-size: 20px;
    transform: translateY(8px);
    position: absolute;

    &.fa-star {
      color: #FFB029;
    }
  }

  .divider {
    margin: 20px 0;
    height: 5px;
    width: 60px;
    background-color: $awesomo;
    margin-left: 35px;
  }

  ul {
    padding-left: 35px;
    li {
      list-style: none;
      font-size: 18px;
      line-height: 2;

      a {
        color: inherit;
        transition: color 150ms ease;
        &:hover {
          text-decoration: none;
          color: $awesomo;
        }
      }
    }
  }
}
