<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O //
        <%= trans.MARKETPLACE %>
    </title>

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="alternate" href="/?hl=en" hreflang="en" />
    <link rel="alternate" href="/?hl=ie" hreflang="ie" />
    <link rel="alternate" href="/?hl=pt" hreflang="pt" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <style>
        @media (min-width: 2300px) {
            .col-xxl-3 {
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%
            }
        }

        code {
            display: block;
            overflow-x: auto;
            padding: 0.5em;
            color: #e2e2e2;
            background: #282c34;
            border-radius: 4px
        }

        .switch.round label .lever {
            width: 54px;
            height: 34px;
            border-radius: 10em;
        }

        .switch.round label .lever:after {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            left: 4px;
            top: 4px;
        }

        .switch.blue-white-switch label input[type=checkbox]:checked+.lever {
            background-color: #2196f3;
        }

        .switch.blue-white-switch label input[type=checkbox]:checked+.lever:after {
            background-color: #fff;
        }

        .switch.blue-white-switch label .lever {
            background-color: #ccc;
        }

        .switch.blue-white-switch label .lever:after {
            background-color: #fff;
        }

        #sandbox {
            position: fixed;
            /* Sit on top of the page content */
            display: none;
            /* Hidden by default */
            width: 100%;
            /* Full width (cover the whole page) */
            height: 100%;
            /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0); /* Black background with opacity */
            z-index: -2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
            justify-content: center;
        }

        @keyframes test {
            0% {
                background-color: red;
            }
            15% {
                background-color: orange;
            }
            30% {
                background-color: yellow;
            }
            45% {
                background-color: green;
            }
            60% {
                background-color: blue;
            }
            75% {
                background-color: indigo;
            }
            90% {
                background-color: violet;
            }
            100% {
                background-color: red;
            }
        }
        
        @media (max-width: 768px) { 
            .tableImage {
                display:none;
            }
         }
    </style>

</head>

<body class="fixed-sn">

    <div id="sandbox"></div>
    <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <%- include ../partials/d-navbar.ejs %>
        <!--Main Layout-->


        <main>
            <div class="mb-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-12 pb-4">
                            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
                                <div class="text-white text-center py-5 px-4 my-5">
                                    <div>
                                        <h1 class="card-title pt-3 mb-5 font-bold">
                                            <strong>Welcome to the AWESOM-O Marketplace</strong>
                                        </h1>
                                        <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
                                            voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto
                                            nulla ipsum dignissimos. Odit sed qui, dolorum!.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9 col-sm-12 pb-2">
                            <div class="text-center" style="width: 100%">
                                <h4 class="font-weight-bold mb-5 pb-1">
                                    Featured Scripts
                                </h4>
                            </div>
                            <div class="row justify-content-center" id="featured">
                                <div class="col-sm-6 col-md-6 col-lg-4 col-xxl-3 mb-4">
                                    <!-- Card -->
                                    <div class="card">

                                        <!-- Card image -->
                                        <div class="view overlay">
                                            <img class="card-img-top" src="https://cdn.discordapp.com/embed/avatars/0.png" alt="Card image cap">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>

                                        <!-- Button -->
                                        <a class="btn-floating btn-action ml-auto mr-4 blue lighten-2">
                                            <i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add this script to {server name}"></i>
                                        </a>

                                        <!-- Card content -->
                                        <div class="card-body">

                                            <!-- Title -->
                                            <span data-toggle="tooltip" data-placement="top" title="Verified Script">
                                                <h4 class="card-title font-weight-bold">Script Name
                                                    <span class="text-success font-weight-bold">
                                                        <sup>
                                                            <i class="fa fa-check pr-1"></i>
                                                        </sup>
                                                    </span>
                                                </h4>
                                            </span>
                                            <hr>
                                            <!-- Text -->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                                card's content.
                                            </p>
                                            <p>
                                                <code>-dothisshit</code>
                                            </p>
                                            <p class="mb-0">by Mattheous
                                                    <sup>
                                                        <span class="text-info font-weight-bold" data-toggle="tooltip" data-placement="top" title="Verified Creator">
                                                            <i class="fa fa-check pr-1"></i>
                                                        </span>
                                                    </sup>
                                                </p>
                                        </div>
                                        <!-- Card footer -->
                                        <div class="rounded-bottom blue lighten-2 text-center pt-3">
                                            <ul class="list-unstyled list-inline font-small">
                                                <li class="list-inline-item pr-2">
                                                    <a href="#" class="white-text">
                                                        <i class="fa fa-cloud pr-1"></i>12 Servers</a>
                                                </li>
                                                <li class="list-inline-item pr-2">
                                                    <a href="#" class="white-text">
                                                        <i class="fa fa-heart red-text pr-1"> </i>21 Likes</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="text-center" style="width: 100%">
                                    <h4 class="font-weight-bold mb-5 pb-1">
                                        All the rest
                                    </h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <table class="table table-borderless">
                                            <col width="10%">
                                            <col width="70%">
                                            <col width="20%">

                                            <!--Table body-->
                                            <tbody>
                                                <tr class="border-bottom" style="height: 8vh">
                                                    <th scope="row" class="tableImage">
                                                        <img class="img-fluid" src="https://cdn.discordapp.com/embed/avatars/2.png">
                                                        
                                                    </th>
                                                    <td>
                                                        <h3 class="my-auto font-weight-bold">Script Name
                                                            <sup>
                                                                <span class="text-success font-weight-bold" data-toggle="tooltip" data-placement="top" title="Verified Script">
                                                                    <i class="fa fa-check pr-1"></i>
                                                                </span>
                                                            </sup>
                                                        </h3>
                                                        <p class="mb-0 grey-text">Script description blah blah kill me</p>
                                                        <p class="mb-0">by Mattheous
                                                            <sup>
                                                                <span class="text-info font-weight-bold" data-toggle="tooltip" data-placement="top" title="Verified Creator">
                                                                    <i class="fa fa-check pr-1"></i>
                                                                </span>
                                                            </sup>
                                                        </p>
                                                    </td>
                                                    <td class="">
                                                            <a class="btn-floating btn-sm ml-auto mr-4 blue lighten-2" style="margin-top: -2.1rem; float: right">
                                                                    <i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add this script to {server name}"></i>
                                                                </a>
                                                        <ul class="list-unstyled">
                                                            <li class="list-item">
                                                                <a href="#">
                                                                    <i class="fa fa-cloud blue-text pr-1"></i>12 Servers</a>
                                                            </li>
                                                            <li class="list-item">
                                                                <a href="#">
                                                                    <i class="fa fa-heart red-text pr-1"> </i>21 Likes</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr class="border-bottom" style="height: 8vh">
                                                        <th scope="row" class="tableImage">
                                                            <img class="img-fluid" src="https://cdn.discordapp.com/embed/avatars/2.png">
                                                            
                                                        </th>
                                                        <td>
                                                            <h3 class="my-auto font-weight-bold">Script Name
                                                                <sup>
                                                                    <span class="text-success font-weight-bold" data-toggle="tooltip" data-placement="top" title="Verified Script">
                                                                        <i class="fa fa-check pr-1"></i>
                                                                    </span>
                                                                </sup>
                                                            </h3>
                                                            <p class="mb-0 grey-text">Script description blah blah kill me</p>
                                                            <p class="mb-0">by Mattheous
                                                                <sup>
                                                                    <span class="text-info font-weight-bold" data-toggle="tooltip" data-placement="top" title="Verified Creator">
                                                                        <i class="fa fa-check pr-1"></i>
                                                                    </span>
                                                                </sup>
                                                            </p>
                                                        </td>
                                                        <td class="">
                                                                <a class="btn-floating btn-sm ml-auto mr-4 blue lighten-2" style="margin-top: -2.1rem; float: right">
                                                                        <i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add this script to {server name}"></i>
                                                                    </a>
                                                            <ul class="list-unstyled">
                                                                <li class="list-item">
                                                                    <a href="#">
                                                                        <i class="fa fa-cloud blue-text pr-1"></i>12 Servers</a>
                                                                </li>
                                                                <li class="list-item">
                                                                    <a href="#">
                                                                        <i class="fa fa-heart red-text pr-1"> </i>21 Likes</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr class="border-bottom" style="height: 8vh">
                                                            <th scope="row" class="tableImage">
                                                                <img class="img-fluid" src="https://cdn.discordapp.com/embed/avatars/2.png">
                                                                
                                                            </th>
                                                            <td>
                                                                <h3 class="my-auto font-weight-bold">Script Name
                                                                    <sup>
                                                                        <span class="text-success font-weight-bold" data-toggle="tooltip" data-placement="top" title="Verified Script">
                                                                            <i class="fa fa-check pr-1"></i>
                                                                        </span>
                                                                    </sup>
                                                                </h3>
                                                                <p class="mb-0 grey-text">Script description blah blah kill me</p>
                                                                <p class="mb-0">by Mattheous
                                                                    <sup>
                                                                        <span class="text-info font-weight-bold" data-toggle="tooltip" data-placement="top" title="Verified Creator">
                                                                            <i class="fa fa-check pr-1"></i>
                                                                        </span>
                                                                    </sup>
                                                                </p>
                                                            </td>
                                                            <td class="">
                                                                    <a class="btn-floating btn-sm ml-auto mr-4 blue lighten-2" style="margin-top: -2.1rem; float: right">
                                                                            <i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add this script to {server name}"></i>
                                                                        </a>
                                                                <ul class="list-unstyled">
                                                                    <li class="list-item">
                                                                        <a href="#">
                                                                            <i class="fa fa-cloud blue-text pr-1"></i>12 Servers</a>
                                                                    </li>
                                                                    <li class="list-item">
                                                                        <a href="#">
                                                                            <i class="fa fa-heart red-text pr-1"> </i>21 Likes</a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                
                                            </tbody>
                                            <!--Table body-->

                                        </table>
                                    </div>
                                </div>
                                <!--Table-->
                            </div>

                        </div>

                        <div class="col-md-3 col-sm-12 pb-2">
                            <!-- Card -->
                            <div class="card text-center" style="width: 100%">
                                <div id="fun" class="card-body">

                                    <!-- Title -->
                                    <h4 class="font-weight-bold mb-1">
                                        Your Scripts
                                    </h4>
                                    <p class="card-text">Allow your scripts to be used on the Marketplace</p>

                                    <div class="row">
                                        <div class="col-12 border-bottom pb-2 mb-3">
                                            <h5 class="float-left">Script Name</h5>
                                            <div class="switch round red-white-switch float-right">
                                                <label>
                                                    <input id="checkbox" type="checkbox">
                                                    <span class="lever"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 border-bottom pb-2 mb-3">
                                            <h5 class="float-left">Script Name</h5>
                                            <div class="switch round red-white-switch float-right">
                                                <label>
                                                    <input id="checkbox" type="checkbox">
                                                    <span class="lever"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pl-md-4 pt-4"></div>
            </div>
        </main>
        <!--/Section: Pricing v.5-->
        <!-- Streak -->

        <%- include ../partials/footer.ejs %>

            <!--/.Footer-->


            <!-- SCRIPTS -->

            <!-- JQuery -->
            <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="/js/popper.min.js"></script>

            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>

            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="/js/mdb.min.js"></script>

            <script>
                //Animation init
                new WOW().init();

                //Modal
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').focus()
                })

                // Material Select Initialization
                $(document).ready(function () {
                    $('.mdb-select').material_select();
                });

                // SideNav Button Initialization
                $(".button-collapse").sideNav();
                // SideNav Scrollbar Initialization
                var sideNavScrollbar = document.querySelector('.custom-scrollbar');
                Ps.initialize(sideNavScrollbar);

                // Tooltips Initialization
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>

            <script type="text/javascript" src="/js/api.js"></script>

            <script>
                "use strict";

                window.onload = async () => {

                    const fun = document.getElementById("fun");

                    for (let i = 0; i < 10; i++) {
                        fun.innerHTML +=
                            `                                    <div class="row">
                                        <div class="col-12 border-bottom pb-2 mb-3">
                                            <h5 class="float-left">Script Name</h5>
                                            <div class="switch round red-white-switch float-right">
                                                <label>
                                                    <input id="checkbox" type="checkbox">
                                                    <span class="lever"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>`;
                    }

                    const featured = document.getElementById("featured");

                    for (let i = 0; i < 0; i++) {

                        featured.innerHTML +=
                            `<div class="col-sm-6 col-md-6 col-lg-4 col-xxl-3 mb-4">
                                    <!-- Card -->
                                    <div class="card">

                                        <!-- Card image -->
                                        <div class="view overlay">
                                            <img class="card-img-top" src="https://cdn.discordapp.com/embed/avatars/0.png" alt="Card image cap">
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>

                                        <!-- Button -->
                                        <a class="btn-floating btn-action ml-auto mr-4 blue lighten-2">
                                            <i class="fa fa-plus" data-toggle="tooltip" data-placement="top" title="Add this script to {server name}"></i>
                                        </a>

                                        <!-- Card content -->
                                        <div class="card-body">

                                            <!-- Title -->
                                            <h4 class="card-title">Card title</h4>
                                            <hr>
                                            <!-- Text -->
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                                card's content.
                                            </p>
                                            <p>
                                                <code>-dothisshit</code>
                                                <p>
                                                    <p>
                                                        <span class="card-text text-info font-weight-bold" data-toggle="tooltip" data-placement="top" title="This creator has been verified by Feinwaru Software">
                                                            <i class="fa fa-check pr-1"></i>Verified Creator</span>
                                                    </p>
                                                    <span class="card-text text-success font-weight-bold" data-toggle="tooltip" data-placement="top" title="This script has been verified by Feinwaru Software">
                                                        <i class="fa fa-check pr-1"></i>Verified Script</span>
                                        </div>

                                        <!-- Card footer -->
                                        <div class="rounded-bottom blue lighten-2 text-center pt-3">
                                            <ul class="list-unstyled list-inline font-small">
                                                <li class="list-inline-item pr-2 white-text">
                                                    <i class="fa fa-pencil pr-1"></i> Mattheous</li>
                                                <li class="list-inline-item pr-2">
                                                    <a href="#" class="white-text">
                                                        <i class="fa fa-cloud pr-1"></i>12</a>
                                                </li>
                                                <li class="list-inline-item pr-2">
                                                    <a href="#" class="white-text">
                                                        <i class="fa fa-heart red-text pr-1"> </i>21</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>`;
                    }

                    const checkboxes = document.querySelectorAll("input[type='checkbox']");

                    for (let i = 0; i < checkboxes.length; i++) {

                        setInterval(() => {

                            checkboxes[i].checked === true ? checkboxes[i].checked = false : checkboxes[i].checked =
                                true;

                        }, (Math.random() * 800) + 200);
                    }

                    // fuck me

                    const randomHex = () => {

                        const r = (Math.floor(Math.random() * 256)).toString(16);
                        const g = (Math.floor(Math.random() * 256)).toString(16);
                        const b = (Math.floor(Math.random() * 256)).toString(16);

                        const colour = `#${r.length === 1 ? `0${r}` : r}${g.length === 1 ? `0${g}` : g}${b.length === 1 ? `0${b}` : b}`;

                        return colour;
                    }

                    const oppositehexes = () => {

                        const r = (Math.floor(Math.random() * 256)).toString(16);
                        const g = (Math.floor(Math.random() * 256)).toString(16);
                        const b = (Math.floor(Math.random() * 256)).toString(16);

                        const r2 = Math.abs(255 - r);
                        const g2 = Math.abs(255 - g);
                        const b2 = Math.abs(255 - b);

                        const colour = `#${r.length === 1 ? `0${r}` : r}${g.length === 1 ? `0${g}` : g}${b.length === 1 ? `0${b}` : b}`;
                        const colour2 = `#${r2.length === 1 ? `0${r2}` : r2}${g2.length === 1 ? `0${g2}` : g2}${b2.length === 1 ? `0${b2}` : b2}`;

                        return { colour, colour2 };
                    }

                    const w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
                    const h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

                    const sandbox = document.getElementById("sandbox");    
                    
                    for (let i = 0; i < 20; i++) {

                        const radius = Math.floor((Math.random() * 140) + 60);

                        const style = document.createElement("style");
                        style.type = "text/css";

                        //const { colour, colour2 } = oppositehexes();

                        const keyframes = `
                            @keyframes ball-${i} {
                                0% {
                                    background-color: ${randomHex()};
                                }
                                20% {
                                    background-color: ${randomHex()};
                                }
                                40% {
                                    background-color: ${randomHex()};
                                }
                                60% {
                                    background-color: ${randomHex()};
                                }
                                80% {
                                    background-color: ${randomHex()};
                                }
                                100% {
                                    background-color: ${randomHex()};
                                }
                            }
                        `;
                        style.innerHTML = keyframes;
                        document.head.appendChild(style);

                        sandbox.innerHTML += `<div class="ball" style="width: ${Math.floor(radius / 2)}px; height: ${Math.floor(radius / 2)}px; border-radius: 50%; background-color: ${randomHex()}; position: absolute; animation-name: ball-${i}; animation-duration: 5s; animation-direction: alternate; animation-iteration-count: infinite;"></div>`;
                    }

                    const balls = document.getElementsByClassName("ball");

                    for (let ball of balls) {

                        const widthcss = ball.style.width;
                        const width = parseInt(widthcss.substring(0, widthcss.length - 2));

                        const heightcss = ball.style.height;
                        const height = parseInt(heightcss.substring(0, heightcss.length - 2));

                        //const px = Math.floor(Math.random() * w);
                        //const py = Math.floor(Math.random() * h);

                        //const px = Math.max(Math.min(w - (width * 2)), 0 + (width * 2));
                        //const py = Math.max(Math.min(h - (height * 2)), 0 + (height * 2));

                        const px = Math.floor(w / 2);
                        const py = Math.floor(h / 2);

                        //const vx = Math.max(Math.random() * 10, 4);
                        //const vy = Math.max(Math.random() * 10, 4);

                        const tsvx = Math.random() - 0.5;
                        const svx = tsvx > 0 ? Math.ceil(tsvx) : Math.floor(tsvx);
                        const vx = Math.max(Math.random() * 10, 4) * svx;

                        const tsvy = Math.random() - 0.5;
                        const svy = tsvy > 0 ? Math.ceil(tsvy) : Math.floor(tsvy);
                        const vy = Math.max(Math.random() * 10, 4) * svy;

                        ball.px = px;
                        ball.py = py;
                        ball.vx = vx;
                        ball.vy = vy;

                        setInterval(() => {

                            if (ball.px > (w - width) || ball.px < (0 + width)) {

                                ball.vx = -ball.vx;
                            }

                            if (ball.py > (h - height) || ball.py < (0 + height)) {

                                ball.vy = -ball.vy;
                            }

                            ball.px += ball.vx;
                            ball.py += ball.vy;

                            ball.style.left = `${ball.px}px`;
                            ball.style.top = `${ball.py}px`;
                            
                        }, 15);
                    }

                    sandbox.style.display = "block";
                }
            </script>

</body>

</html>