<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O //
        <%= trans.SCRIPT_MANAGER %>
    </title>

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="alternate" href="/?hl=en" hreflang="en" />
    <link rel="alternate" href="/?hl=ie" hreflang="ie" />
    <link rel="alternate" href="/?hl=pt" hreflang="pt" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <style>
.steps-form {
    display: table;
    width: 100%;
    position: relative; }
.steps-form .steps-row {
    display: table-row; }
.steps-form .steps-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc; }
.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative; }
.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem; }
.steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }
.steps-form .steps-row .steps-step .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 0; }
    </style>
</head>

<body class="fixed-sn">
    <!--
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup" class="text-center">
            <img src="/img/headerlogo.png">
            <br>
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <%- include ../partials/d-navbar.ejs %>
        <!--Main Layout-->


        <main>
            <div class="mb-5">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="text-center" style="width: 100%">
                                <h1 class="font-weight-bold mb-2 mt-2 pb-1 mb-5">
                                    <%= trans.GET_YOUR_AWESOMO %>
                                </h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <!-- Steps form -->
                                <div class="card">
                                    <div class="card-body mb-4">
                                        <!-- Stepper -->
                                        <div class="steps-form">
                                            <div class="steps-row setup-panel">
                                                <div class="steps-step">
                                                    <a href="#step-9" type="button" class="btn btn-indigo btn-circle">1</a>
                                                    <p>Step 1</p>
                                                </div>
                                                <div class="steps-step">
                                                    <a href="#step-10" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                                    <p>Step 2</p>
                                                </div>
                                                <div class="steps-step">
                                                    <a href="#step-11" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                                    <p>Step 3</p>
                                                </div>
                                            </div>
                                        </div>

                                        <form role="form" action="" method="post">

                                            <!-- First Step -->
                                            <div class="row setup-content" id="step-9">
                                                <div class="col-md-12">
                                                    <h3 class="font-weight-bold pl-0 my-4">
                                                        <strong>Step 1</strong>
                                                    </h3>
                                                    <div class="form-group md-form">
                                                        <label for="yourName" data-error="wrong" data-success="right">First Name</label>
                                                        <input id="yourName" type="text" required="required" class="form-control validate">
                                                    </div>
                                                    <div class="form-group md-form mt-3">
                                                        <label for="yourLastName" data-error="wrong" data-success="right">Last Name</label>
                                                        <input id="yourLastName" type="text" required="required" class="form-control validate">
                                                    </div>
                                                    <div class="form-group md-form mt-3">
                                                        <label for="yourAddress" data-error="wrong" data-success="right">Address</label>
                                                        <textarea id="yourAddress" type="text" required="required" rows="2" class="md-textarea validate form-control"></textarea>
                                                    </div>
                                                    <button class="btn btn-indigo btn-rounded nextBtn float-right" type="button">Next</button>
                                                </div>
                                            </div>

                                            <!-- Second Step -->
                                            <div class="row setup-content" id="step-10">
                                                <div class="col-md-12">
                                                    <h3 class="font-weight-bold pl-0 my-4">
                                                        <strong>Step 2</strong>
                                                    </h3>
                                                    <div class="form-group md-form">
                                                        <label for="companyName" data-error="wrong" data-success="right">Company Name</label>
                                                        <input id="companyName" type="text" required="required" class="form-control validate">
                                                    </div>
                                                    <div class="form-group md-form mt-3">
                                                        <label for="companyAddress" data-error="wrong" data-success="right">Company Address</label>
                                                        <input id="companyAddress" type="text" required="required" class="form-control validate">
                                                    </div>
                                                    <button class="btn btn-indigo btn-rounded prevBtn float-left" type="button">Previous</button>
                                                    <button class="btn btn-indigo btn-rounded nextBtn float-right" type="button">Next</button>
                                                </div>
                                            </div>

                                            <!-- Third Step -->
                                            <div class="row setup-content" id="step-11">
                                                <div class="col-md-12">
                                                    <h3 class="font-weight-bold pl-0 my-4">
                                                        <strong>Step 3</strong>
                                                    </h3>
                                                    <button class="btn btn-indigo btn-rounded prevBtn float-left" type="button">Previous</button>
                                                    <button class="btn btn-default btn-rounded float-right" type="submit">Submit</button>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                                <!-- Steps form -->
                            </div>
                            <!-- Steps form -->
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <!--/Section: Pricing v.5-->
        <!-- Streak -->

        <%- include ../partials/footer.ejs %>

            <!--/.Footer-->


            <!-- SCRIPTS -->

            <!-- JQuery -->
            <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="/js/popper.min.js"></script>

            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>

            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="/js/mdb.min.js"></script>

            <script>
                //Animation init
                new WOW().init();

                //Modal
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').focus()
                })

                // Material Select Initialization
                $(document).ready(function () {
                    $('.mdb-select').material_select();
                    var navListItems = $('div.setup-panel div a'),
                        allWells = $('.setup-content'),
                        allNextBtn = $('.nextBtn'),
                        allPrevBtn = $('.prevBtn');

                    allWells.hide();

                    navListItems.click(function (e) {
                        e.preventDefault();
                        var $target = $($(this).attr('href')),
                            $item = $(this);

                        if (!$item.hasClass('disabled')) {
                            navListItems.removeClass('btn-indigo').addClass('btn-default');
                            $item.addClass('btn-indigo');
                            allWells.hide();
                            $target.show();
                            $target.find('input:eq(0)').focus();
                        }
                    });

                    allPrevBtn.click(function () {
                        var curStep = $(this).closest(".setup-content"),
                            curStepBtn = curStep.attr("id"),
                            prevStepSteps = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent()
                            .prev().children("a");

                        prevStepSteps.removeAttr('disabled').trigger('click');
                    });

                    allNextBtn.click(function () {
                        var curStep = $(this).closest(".setup-content"),
                            curStepBtn = curStep.attr("id"),
                            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent()
                            .next().children("a"),
                            curInputs = curStep.find("input[type='text'],input[type='url']"),
                            isValid = true;

                        $(".form-group").removeClass("has-error");
                        for (var i = 0; i < curInputs.length; i++) {
                            if (!curInputs[i].validity.valid) {
                                isValid = false;
                                $(curInputs[i]).closest(".form-group").addClass("has-error");
                            }
                        }

                        if (isValid)
                            nextStepWizard.removeAttr('disabled').trigger('click');
                    });

                    $('div.setup-panel div a.btn-indigo').trigger('click');
                });

                // SideNav Button Initialization
                $(".button-collapse").sideNav();
                // SideNav Scrollbar Initialization
                var sideNavScrollbar = document.querySelector('.custom-scrollbar');
                Ps.initialize(sideNavScrollbar);

                // Tooltips Initialization
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>
            <script>
            </script>

</body>

</html>