
        <!--Double navigation-->
            <!-- Sidebar navigation -->
            <div id="slide-out" class="side-nav fixed feinwaru-dark">
                <ul class="custom-scrollbar">
                    <!-- Logo -->
                        <div class="logo-wrapper waves-light" style="border-style: none">
                            <a href="#"><img src="/img/navbarlogo.png" class="img-fluid flex-center"></a>
                        </div>
                    <!--/. Logo -->
                    <!-- Side navigation links -->
                    <li>
                        <ul class="collapsible collapsible-accordion">
                            <li><a class="waves-effect"><i class="fa fa-home"></i> Overview</a>
                                
                            </li>
                            <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-bar-chart"></i> Leaderboards<i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" class="waves-effect">Activity Board</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">It Hits The Fan</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-share-alt"></i> Integrations<i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" class="waves-effect"><i class="fa fa-lastfm"></i> last.fm</a>
                                        </li>
                                        <li><a href="#" class="waves-effect"><i class="fa fa-steam"></i> Steam</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-gavel"></i> Moderation<i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">FAQ</a>
                                        </li>
                                        <li><a href="#" class="waves-effect">Write a message</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-code"></i>Commands<i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#" class="waves-effect"> Enabled Commands</a>
                                        </li>
                                        <li><a href="#" class="waves-effect"> Command Creator</a>
                                        </li>
                                        <li><a href="#" class="waves-effect"> Command Marketplace</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--/. Side navigation links -->
                </ul>
                <div class="sidenav-bg mask-strong"></div>
            </div>
            <!--/. Sidebar navigation -->
            <!-- Navbar -->
            <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
                <!-- SideNav slide-out button -->
                <div class="float-left">
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
                </div>
                <!-- Breadcrumb-->
                <div class="breadcrumb-dn mr-auto">
                    <p><b>AWESOM-O Dashboard</b></p>
                </div>
                <ul class="nav navbar-nav nav-flex-icons ml-auto">
                    <li class="nav-item">
                        <a class="nav-link"><i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span></a>
                    </li>
                    <li class="nav-item avatar dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0" alt="avatar image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-secondary">
                            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- /.Navbar -->
        <!--/.Double navigation-->
    