<!DOCTYPE html>
<html class="full-height" lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O // Home</title>
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap-->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Template styles-->
    <style>
        /* TEMPLATE STYLES */

        .undef {
            font-family: "Comic Sans MS";
        }

        .flex-center {
            color: #fff;
        }

        .intro-1 {
            background: url("https://cdn.discordapp.com/attachments/377184553917218837/438026635933909004/Almost_done.png")no-repeat center center;
            background-size: cover;
        }

        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }

        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }
    </style>
</head>

<body>
    <header>
        <!-- Navbar-->
        <% include partials/navbar %>

            <!-- /.Navbar-->
            <!-- Intro Section-->
            <section class="view intro-1 hm-black-strong">
                <div class="full-bg-img flex-center">
                    <div class="container">
                        <ul>
                            <li>
                                <div class="col-md-8 offset-md-2">
                                    <img class="wow fadeInDown img-fluid" src="img/headerlogo.png" data-wow-delay="0.2s">
                                </div>
                            </li>
                            <li>

                                <a class="btn btn-orange btn-lg wow fadeInUp " href="https://www.patreon.com/awesomo" data-wow-delay="0.2s" rel="nofollow">Support on Patreon</a>
                                <a class="btn btn-indigo btn-lg wow fadeInUp disabled" data-wow-delay="0.2s" rel="nofollow">Login with Discord</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
    </header>
    <!-- Main container-->
    <div class="container">
        <div class="divider-new pt-5">
            <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Version 2.1 Update</h2>
        </div>
        <!-- Section: About-->
        <section class="left wow fadeIn" data-wow-delay="0.2s">
            <div class="row">
                <div class="col-lg-6 mb-r">

                    <img src="img/2.1.png" class="img-fluid" alt="Responsive image">

                </div>
                <div class="col-lg-6 mb-r">
                    <p>This incremental update brings some new commands and musical abilities to the bot, this is to tie you
                        over until 3.0 is fully developed (you will not want to miss it!). We have added last.fm support
                        with the ability to attach your last.fm username and display whatever last.fm info you want in chat.
                        We have added music functionalities, meaning you can have a rave when you are on the server, and
                        more commands which you can find listed on our commands page. Again, as always, this wouldn’t be
                        available with your help and our generous Patrons. So again, thank you guys for being a massive support
                        in our development</p>
                    <p>-Feinwaru Software</p>
                    <a href="https://github.com/feinwarusoftware/awesomobot-js/releases/latest">
                        <button class="btn btn-indigo" id="update">View update page</button>
                    </a>
                </div>
            </div>
        </section>
        <!-- Section: About-->
        <!-- Section: About-->
        <div class="col-12 divider-new pt-1">
            <h2 class="h2-responsive wow fadeIn">Development Team</h2>
        </div>
        <!-- Section: Best features-->
        <section id="team">
            <div class="col-12 row pt-3">
                <!-- First columnn-->
                <div class="col-lg-3 mb-r">
                    <!-- Card-->
                    <div class="card wow fadeIn">
                        <!-- Card image-->
                        <img class="img-fluid" src="img/people/dragon.png" alt="Card image cap">
                        <!-- Card content-->
                        <div class="card-body">
                            <!-- Title-->
                            <h4 class="card-title text-center">Dragon1320</h4>
                            <hr>
                            <!-- Text-->
                            <p class="card-text">Backend Developer &<br>Elite Hackerman™</p>
                        </div>
                    </div>
                    <!-- /.Card-->
                </div>
                <!-- First columnn-->
                <!-- Second columnn-->
                <div class="col-lg-3 mb-r">
                    <!-- Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.2s">
                        <!-- Card image-->
                        <img class="img-fluid" src="img/people/matt.jpg" alt="Card image cap">
                        <!-- Card content-->
                        <div class="card-body">
                            <!-- Title-->
                            <h4 class="card-title text-center">Mattheous</h4>
                            <hr>
                            <!-- Text-->
                            <p class="card-text">Frontend Developer &<br>Graphic Designer</p>
                        </div>
                    </div>
                    <!-- /.Card-->
                </div>
                <!-- Second columnn-->
                <!-- Third columnn-->
                <div class="col-lg-3 mb-r">
                    <!-- Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.4s">
                        <!-- Card image-->
                        <img class="img-fluid" src="img/people/towel.png" alt="Card image cap">
                        <!-- Card content-->
                        <div class="card-body">
                            <!-- Title-->
                            <h4 class="card-title text-center">SmashRoyale</h4>
                            <hr>
                            <!-- Text-->
                            <p class="card-text">Backend Developer &<br>Graphic Designer</p>
                        </div>
                    </div>
                    <!-- /.Card-->
                </div>
                <!-- Third columnn-->
        </section>

        <!-- /Section: Best features-->

        <!--

        <div class="divider-new pt-2">
            <h2 class="h2-responsive wow fadeIn">Translation Team</h2>
        </div>
                <section id="best-features">
                    <div class="row pt-3">
                        <div class="col-lg-3 mb-r">
                            <div class="card wow fadeIn">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(25).jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title text-center">360 Advertising</h4>
                                    <hr>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-r">
                            <div class="card wow fadeIn" data-wow-delay="0.2s">
                                <img class="img-fluid" src="https://cdn.discordapp.com/avatars/215982178046181376/9069e015d41795ab2ddd144a63db4681?size=2048" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Tweekerino<sup>#9404</sup></h4>
                                    <hr>
                                    <p class="card-text"><img src="img/flag_ico/pt.jpg" padding="10px" height="16px"> Portugese Translation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-r">
                            <div class="card wow fadeIn" data-wow-delay="0.4s">
                                <img class="img-fluid" src="https://cdn.discordapp.com/avatars/349886534989643779/fc2b25964bd527d81eb3a9a3789023d2?size=2048" width="100%" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title text-center">WonderTweek<sup>#4618</sup></h4>
                                    <hr>
                                    <p class="card-text"><img src="img/flag_ico/it.jpg" padding="10px" height="16px"> Italian Translation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-r">
                            <div class="card wow fadeIn" data-wow-delay="0.6s">
                                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(37).jpg" alt="Card image cap">

                                <div class="card-body">
                                    <h4 class="card-title text-center">24/7 Support</h4>
                                    <hr>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> 
            -->

        <div class="divider-new">
            <h2 class="h2-responsive wow fadeIn">Our Supporters</h2>
        </div>
        <!-- Section: Contact-->
        <section id="contact pb-5">
            <div class="row pt-3">
                <!-- First columnn-->
                <div class="col-lg-6 mb-r">
                    <!-- Card-->
                    <div class="card wow fadeIn">
                        <!-- Card image-->
                        <!-- Card content-->
                        <div class="card-body">
                            <!-- Title-->
                            <h1 class="text-center">$5 Patrons</h1>
                            <!-- Text-->
                        </div>
                    </div>
                    <!-- /.Card-->
                </div>
                <!-- First columnn-->
                <!-- Second columnn-->
                <div class="col-lg-6 mb-r">
                    <!-- Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.2s">
                        <!-- Card image-->
                        <!-- Card content-->
                        <div class="card-body">
                            <!-- Title-->
                            <h1 class="text-center">$10 Patrons</h1>
                            <!-- Text-->
                            <table class="table">
                                <col width="25%">
                                <col width="75%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="img/people/kamui.gif">
                                        </td>
                                        <td>
                                            <h4>Kamui#9960</h4>
                                            <p>Patron since January 3rd</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/people/kenny.png">
                                        </td>
                                        <td>
                                            <h4>Kenny McCormick#8008</h4>
                                            <p>Patron since February 2nd</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.Card-->
                </div>
        </section>
        <!-- Section: Contact-->
        </div>
        </div>
        <!-- / Main container-->
        <!-- Footer-->
        <% include partials/footer %>
            <!-- /.Footer-->
            <!-- SCRIPTS-->
            <!-- JQuery-->
            <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
            <!-- Bootstrap dropdown-->
            <script type="text/javascript" src="js/popper.min.js"></script>
            <!-- Bootstrap core JavaScript-->
            <script type="text/javascript" src="js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript-->
            <script type="text/javascript" src="js/mdb.min.js"></script>
            <!-- Animations init-->
            <script>
                new WOW().init();
            </script>

            <script>
                const keyMap = {
                    37: "left",
                    38: "up",
                    39: "right",
                    40: "down",
                    65: "a",
                    66: "b"
                };

                const konamiCode = ["up", "up", "down", "down", "left", "right", "left", "right", "b", "a"];

                var konamiPosition = 0;

                document.addEventListener("keydown", function (e) {
                    console.log(konamiPosition);
                    if (keyMap[e.keyCode] == konamiCode[konamiPosition]) {

                        konamiPosition++;

                        if (konamiPosition == konamiCode.length) {
                            success();
                            konamiPosition = 0;
                        }
                    } else {
                        konamiPosition = 0;
                    }

                });

                function success() {

                    document.styleSheets[8].cssRules[0].selectorText = "*";
                }
            </script>

</body>

</html>
