<!DOCTYPE html>
<html class="full-height" lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O // Status</title>
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap-->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Template styles-->
    <style>
        /* TEMPLATE STYLES */
        /* *{
            border-color: red;
            border-width: 1px;
            border-style: dashed;
        } */

        .undef {
            font-family: "Comic Sans MS";
        }

        .flex-center {
            color: #fff;
        }

        .intro-1 {
            background: url("img/awesomo-bg.jpg")no-repeat center center;
            background-size: cover;
        }

        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }

        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }
    </style>
</head>

<body>
    <header>
        <!-- Navbar-->
        <% include partials/navbar %>
        <!-- /.Navbar-->
        <!-- Intro Section-->

        <!-- Main container-->
        <div class="container">
                        <!--Page heading-->
                        <div class="row wow fadeIn pt-5" data-wow-delay="0.2s">
                            <div class="col-md-12 pt-5">
                                <h1 class="h1-responsive">Legal stuff |
                                    <small class="text-muted">Terms and Conditions</small>
                                </h1>
                            </div>
                        </div>
                        <!--/.Page heading-->
                        <section>
                            <div class=".col-md-6 .offset-md-3 pt-5">
                                <h1>Please don't steal our stuff</h1>
                                <p>We would write a massive blog about what you can and cannot do, but it's all pretty simple. Please do not copy our code and it redistribute it as your own, or host the bot as your own</p>
                            </div>
                        </section>
            </div>
            <!-- / Main container-->
            <!-- Footer-->
            <% include partials/footer %>
                <!-- /.Footer-->
                <!-- SCRIPTS-->
                <!-- JQuery-->
                <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
                <!-- Bootstrap dropdown-->
                <script type="text/javascript" src="js/popper.min.js"></script>
                <!-- Bootstrap core JavaScript-->
                <script type="text/javascript" src="js/bootstrap.min.js"></script>
                <!-- MDB core JavaScript-->
                <script type="text/javascript" src="js/mdb.min.js"></script>
                <!-- Animations init-->
                <script>
                    new WOW().init();
                </script>

                <script>
                    window.onload = function () {

                        const form = document.getElementById("problem-form");

                        form.onsubmit = function () {

                            const data = {
                                user: form.ifname.value,
                                type: form.ifproblemtype.value,
                                desc: form.ifproblemdesc.value
                            };

                            var xhr = new XMLHttpRequest();
                            var url = "http://awesomobot.tk/api/v1/issues";
                            xhr.open("POST", url, true);
                            xhr.setRequestHeader("Content-type", "application/json");
                            xhr.send(JSON.stringify(data));

                            //return false;
                        }
                    }
                </script>

</body>

</html>