<!DOCTYPE html>
<html class="full-height" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O // Dashboard</title>
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap-->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Template styles-->
    <style>
        /* TEMPLATE STYLES */

        .flex-center {
            color: #fff;
        }

        .intro-1 {
            background: url("img/awesomo-bg.jpg")no-repeat center center;
            background-size: cover;
        }

        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }

        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }
    </style>

    <!-- Referencing Stuff -->
    <% var avatar = "https://cdn.discordapp.com/avatars/" + user.id + "/" + user.avatar + ".png?size=2048"%>




</head>

<body>
    <header>
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark elegant-color fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">AWESOM-O Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item btn-group active">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item yellow" href="../dashboard">Overview</a>
                                <a class="dropdown-item" href="dashboard/stats">Statistics</a>
                                <a class="dropdown-item" href="dashboard/leaderboards">Leaderboards</a>
                                <a class="dropdown-item" href="dashboard/moderation">Moderation</a>
                                <a class="dropdown-item" href="dashboard/music">Music</a>
                                <a class="dropdown-item" href="dashboard/games">Games</a>
                                <a class="dropdown-item disabled" href="#">Developer Options</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Donate</a>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <a href="auth/logout">
                            <button class="btn btn-sm align-middle btn-outline-yellow" type="button">Logout</button>
                        </a>
                    </form>
                </div>
            </div>
        </nav>

        <!-- Main container-->
        <div class="container">

            <!-- Grid row -->
            <div class="row">

                <div class="divider-new pt-5">
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-12">

                        <img src="<%= avatar%>" class="img-fluid z-depth-1" alt="Responsive image">

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-8 col-md-6 mb-12">

                        <h1>Welcome
                            <%= user.username%>
                        </h1>
                        <h3>You are admin of</h3>

                        <ul class="list-unstyled">
                            <li class="media">
                                <img class="d-flex mr-3" src="https://cdn.discordapp.com/icons/371762864790306817/5aa4e49bda6eb74d8830f118a7701652.png" width="64px"
                                    alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">/r/SouthPark</h5>
                                    <a href="https://discord.gg/southpark">
                                        <p>https://discord.gg/southpark</p>
                                    </a>
                                </div>
                            </li>
                            <li class="media my-4">
                                <img class="d-flex mr-3" src="https://cdn.discordapp.com/icons/285051699717210113/fb7c3fd0947cbb27677e2a7fefd2ebba.png" width="64px"
                                    alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Dream Theater</h5>
                                    <a href="https://discord.gg/southpark">
                                        <p>https://discord.gg/59Uwbay</p>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->

                </div>
            </div>
            <!-- Grid row -->
            <div class="divider-new">
                <h2 class="h2-responsive wow fadeIn">Overview</h2>
            </div>
            <!-- Section: Best features-->
            <section id="best-features">
                <div class="row pt-3">
                    <!-- First columnn-->
                    <div class="col-lg-3 mb-r">
                        <!-- Card-->
                        <div class="card wow fadeIn">
                            <!-- Card image-->
                            <img class="img-fluid" src="img/online_ico.jpg" alt="Card image cap">
                            <!-- Card content-->
                            <div class="card-body">
                                <!-- Title-->
                                <h4 class="card-title text-center">Total Online</h4>
                                <hr>
                                <!-- Text-->
                                <h2 class="text-center">
                                    <b>315/</b>784</h2>
                                <h5 class="text-center">Updated 16 mins ago</h5>
                                <a href="#">
                                    <p class="text-center mb-0 small">View Full Statistics</p>
                                </a>
                            </div>
                        </div>
                        <!-- /.Card-->
                    </div>
                    <!-- First columnn-->
                    <!-- Second columnn-->
                    <div class="col-lg-3 mb-r">
                        <!-- Card-->
                        <div class="card wow fadeIn" data-wow-delay="0.2s">
                            <!-- Card image-->
                            <img class="img-fluid" src="img/leaderboard_ico.jpg" alt="Jimmy at the special olympics">
                            <!-- Card content-->
                            <div class="card-body">
                                <!-- Title-->
                                <h4 class="card-title text-center">Server Ranking</h4>
                                <hr>
                                <!-- Text-->
                                <h2 class="text-center">
                                    <b>#1/</b>784</h2>
                                <h5 class="text-center">Updated 16 mins ago</h5>
                                <a href="dashboard/leaderboards#activity">
                                    <p class="text-center mb-0 small">View Global Leaderboard</p>
                                </a>
                            </div>
                        </div>
                        <!-- /.Card-->
                    </div>
                    <!-- Second columnn-->
                    <!-- Third columnn-->
                    <div class="col-lg-3 mb-r">
                        <!-- Card-->
                        <div class="card wow fadeIn" data-wow-delay="0.4s">
                            <!-- Card image-->
                            <img class="img-fluid" src="img/messages_ico.jpg" alt="Call Girl">
                            <!-- Card content-->
                            <div class="card-body">
                                <!-- Title-->
                                <h4 class="card-title text-center">Msgs/Cmds Ratio</h4>
                                <hr>
                                <!-- Text-->
                                <h2 class="text-center">
                                    <b>90,196/</b>2,440</h2>
                                <h5 class="text-center">In the last month</h5>
                                <a href="#">
                                    <p class="text-center mb-0 small">View Full Statistics</p>
                                </a>
                            </div>
                        </div>
                        <!-- /.Card-->
                    </div>
                    <!-- Third columnn-->
                    <!-- First columnn-->
                    <div class="col-lg-3 mb-r">
                        <!-- Card-->
                        <div class="card wow fadeIn" data-wow-delay="0.6s">
                            <!-- Card image-->
                            <img class="img-fluid" src="img/shit_ico.jpg" alt="Mr Hankey">
                            <!-- Card content-->
                            <div class="card-body">
                                <!-- Title-->
                                <h4 class="card-title text-center">It Hits The Fan</h4>
                                <hr>
                                <!-- Text-->
                                <h2 class="text-center">
                                    <b>343</b> shits</h2>
                                <h5 class="text-center">Your total of shits</h5>
                                <a href="dashboard/leaderboards#shits">
                                    <p class="text-center mb-0 small">View Global Leaderboard</p>
                                </a>
                            </div>
                        </div>
                        <!-- /.Card-->
                    </div>
                    <!-- First columnn-->
                </div>
            </section>
            <!-- Section: Contact-->
        </div>
        <!-- / Main container-->
        <!-- Footer-->
        <footer class="page-footer center-on-small-only elegant-color-dark">
            <!-- Footer Links-->
            <div class="container">
                <div class="row">
                    <hr class="w-100 clearfix d-sm-none">

                    <!-- Third column-->
                    <div class="col-lg-6 col-md-6 float-right">
                        <h5 class="title font-bold mt-3 mb-4">Resources</h5>
                        <ul>
                            <li>
                                <a href="#!">Status</a>
                            </li>
                            <li>
                                <a href="#!">Help & Support</a>
                            </li>
                            <li>
                                <a href="#!">Feedback</a>
                            </li>
                            <li>
                                <a href="#!">Terms</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.Third column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!-- Fourth column-->
                    <div class="col-lg-6 col-md-6 mx-auto">
                        <h5 class="title font-bold mt-3 mb-4">About</h5>
                        <ul>
                            <li>
                                <a href="#!">About</a>
                            </li>
                            <li>
                                <a href="#!">Fork on Github</a>
                            </li>
                            <li>
                                <a href="#!">Donate</a>
                            </li>
                            <li>
                                <a href="https://discord.gg/southpark">/r/SouthPark Discord</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.Fourth column-->
                </div>
            </div>
            <!-- /.Footer Links-->
            <hr>
            <!-- Call to action-->
            <div class="call-to-action">
                <ul>
                    <li>
                        <h5>Join the /r/SouthPark Discord</h5>
                    </li>
                    <li>
                        <a class="btn btn-indigo" target="_blank" href="https://discord.gg/southpark" rel="nofollow">Join Now!</a>
                    </li>
                </ul>
            </div>
            <!-- /.Call to action-->
            <!-- Copyright-->
            <div class="footer-copyright">
                <div class="container-fluid">© 2018 Copyright:
                    <a href="/"> AWESOM-O Industries </a>
                </div>
            </div>
            <!-- /.Copyright-->
        </footer>
        <!-- /.Footer-->
        <!-- SCRIPTS-->
        <!-- JQuery-->
        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap dropdown-->
        <script type="text/javascript" src="js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript-->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript-->
        <script type="text/javascript" src="js/mdb.min.js"></script>
        <!-- Animations init-->
        <script>
            new WOW().init();
        </script>
</body>

</html>