<!DOCTYPE html>
<html class="full-height" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png" />
    <title>AWESOM-O // Dashboard</title>
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap-->
    <link href="../../css/mdb.min.css" rel="stylesheet">
    <!-- Template styles-->
    <style>
    /* TEMPLATE STYLES */

        //*{
        border-style: dashed;
        border-color: red;
        border-width: 1px;
    }
    */ .flex-center {
        color: #fff;
    }

    .intro-1 {
        background: url("../../img/awesomo-bg.jpg")no-repeat center center;
        background-size: cover;
    }

    .navbar .btn-group .dropdown-menu a:hover {
        color: #000 !important;
    }

    .navbar .btn-group .dropdown-menu a:active {
        color: #fff !important;
    }
    </style>

    <!-- Referencing Stuff -->
    <% var avatar = "https://cdn.discordapp.com/avatars/" + user.id + "/" + user.avatar + ".png?size=2048"%>




</head>

<body>
    <header>
        <!-- Navbar-->
        <% include ../partials/dnavbar %>

        <!-- Main container-->
        <div class="container">
                <div class="divider-new "></div>
                <!-- Grid row -->
                <div class="row">
    
                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-6 mb-12">
    
                        <img src="<%= avatar%>" class="z-depth-1 float-right" height="128px" alt="Responsive image">
    
                    </div>
                    <!-- Grid column -->
    
                    <!-- Grid column -->
                    <div class="col-lg-8 col-md-6 mb-12">
    
                        <h2>Logged in as:
                            <b>
                                <%= user.username%>
                            </b>
                        </h2>
                        <h4>Viewing:
                            <% var currentServer = user.guilds.find(e => { %>
                                <% return e.id == server._id; %>
                            <% }); %>
                            <b><%= currentServer.name %></b>
                        </h4>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <div class="divider-new">
                    <h2 class="h2-responsive wow fadeIn">Overview</h2>
                </div>
                <!-- Section: Best features-->
                <section id="best-features">
                    <div class="row pt-3">
                        <!-- First columnn-->
                        <div class="col-lg-3 mb-r">
                            <!-- Card-->
                            <div class="card wow fadeIn">
                                <!-- Card image-->
                                <img class="img-fluid" src="../img/online_ico.jpg" alt="Card image cap">
                                <!-- Card content-->
                                <div class="card-body">
                                    <!-- Title-->
                                    <h4 class="card-title text-center">Total Online</h4>
                                    <hr>
                                    <!-- Text-->
                                    <h2 class="text-center">
                                        <b>315/</b>784</h2>
                                    <h5 class="text-center">Updated 16 mins ago</h5>
                                    <a href="#">
                                        <p class="text-center mb-0 small">View Full Statistics</p>
                                    </a>
                                </div>
                            </div>
                            <!-- /.Card-->
                        </div>
                        <!-- First columnn-->
                        <!-- Second columnn-->
                        <div class="col-lg-3 mb-r">
                            <!-- Card-->
                            <div class="card wow fadeIn" data-wow-delay="0.2s">
                                <!-- Card image-->
                                <img class="img-fluid" src="../img/leaderboard_ico.jpg" alt="Jimmy at the special olympics">
                                <!-- Card content-->
                                <div class="card-body">
                                    <!-- Title-->
                                    <h4 class="card-title text-center">Server Ranking</h4>
                                    <hr>
                                    <!-- Text-->
                                    <h2 class="text-center">
                                        <b>#1/</b>784</h2>
                                    <h5 class="text-center">Updated 16 mins ago</h5>
                                    <a href="leaderboards#activity">
                                        <p class="text-center mb-0 small">View Global Leaderboard</p>
                                    </a>
                                </div>
                            </div>
                            <!-- /.Card-->
                        </div>
                        <!-- Second columnn-->
                        <!-- Third columnn-->
                        <div class="col-lg-3 mb-r">
                            <!-- Card-->
                            <div class="card wow fadeIn" data-wow-delay="0.4s">
                                <!-- Card image-->
                                <img class="img-fluid" src="../img/messages_ico.jpg" alt="Call Girl">
                                <!-- Card content-->
                                <div class="card-body">
                                    <!-- Title-->
                                    <h4 class="card-title text-center">Msgs/Cmds Ratio</h4>
                                    <hr>
                                    <!-- Text-->
                                    <h2 class="text-center">
                                        <b>90,196/</b>2,440</h2>
                                    <h5 class="text-center">In the last month</h5>
                                    <a href="#">
                                        <p class="text-center mb-0 small">View Full Statistics</p>
                                    </a>
                                </div>
                            </div>
                            <!-- /.Card-->
                        </div>
                        <!-- Third columnn-->
                        <!-- First columnn-->
                        <div class="col-lg-3 mb-r">
                            <!-- Card-->
                            <div class="card wow fadeIn" data-wow-delay="0.6s">
                                <!-- Card image-->
                                <img class="img-fluid" src="../img/shit_ico.jpg" alt="Mr Hankey">
                                <!-- Card content-->
                                <div class="card-body">
                                    <!-- Title-->
                                    <h4 class="card-title text-center">It Hits The Fan</h4>
                                    <hr>
                                    <!-- Text-->
                                    <h2 class="text-center">
                                        <b>343</b> shits</h2>
                                    <h5 class="text-center">Your total of shits</h5>
                                    <a href="leaderboards#shits">
                                        <p class="text-center mb-0 small">View Global Leaderboard</p>
                                    </a>
                                </div>
                            </div>
                            <!-- /.Card-->
                        </div>
                        <!-- First columnn-->
                    </div>
                </section>
                <!-- Section: Contact-->
            </div>
            <!-- / Main container-->
        <!-- Footer-->
        <% include ../partials/footer %>
        <!-- /.Footer-->
        <!-- SCRIPTS-->
        <!-- JQuery-->
        <script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap dropdown-->
        <script type="text/javascript" src="../../js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript-->
        <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript-->
        <script type="text/javascript" src="../../js/mdb.min.js"></script>

        <!-- Animations init-->
        <script>
            new WOW().init();
        </script>
        
</body>

</html>