<!DOCTYPE html>
<html class="full-height" lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="../../../../img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O // Home</title>
    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS-->
    <link href="../../../../css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap-->
    <link href="../../../../css/mdb.min.css" rel="stylesheet">
    <!-- Template styles-->
    <style>
        /* TEMPLATE STYLES */

        .undef {
            font-family: "Comic Sans MS";
        }

        .flex-center {
            color: #fff;
        }

        .intro-1 {
            background: url("../../../../img/notmod.png")no-repeat center center;
            background-size: cover;
        }

        .navbar .btn-group .dropdown-menu a:hover {
            color: #000 !important;
        }

        .navbar .btn-group .dropdown-menu a:active {
            color: #fff !important;
        }
    </style>
</head>

<body>
    <header>
        <!-- Navbar-->

            <!-- /.Navbar-->
            <!-- Intro Section-->
            <section class="view intro-1 hm-black-strong">
                <div class="full-bg-img flex-center">
                    <div class="container">
                        <ul>
                            <li>
                                <h1 class="h1-responsive font-bold wow fadeInDown" data-wow-delay="0.2s">You need to select a server!</h1>
                            </li>
                            <li>
                                <a class="btn btn-red btn-lg wow fadeInUp" href="../../../dashboard" data-wow-delay="0.2s" rel="nofollow">Return to server select</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
    </header>
        <!-- Section: About-->

        <!-- /.Footer-->
        <!-- SCRIPTS-->
        <!-- JQuery-->
        <script type="text/javascript" src="../../../../js/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap dropdown-->
        <script type="text/javascript" src="../../../../js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript-->
        <script type="text/javascript" src="../../../../js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript-->
        <script type="text/javascript" src="../../../../js/mdb.min.js"></script>
        <!-- Animations init-->
        <script>
            new WOW().init();
        </script>
</body>

</html>