footer {
  bottom: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: $dwhite;

  .swoosh {
    margin: -3px;
    margin-top: 0;
    width: 101%;
    user-select: none;
  }

  .footer-contents {
    background-color: $darkgrey;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  p {
    text-align: center;
    width: 100%;
    font-size: 0.6rem;
  }

  h1 {
    margin-top: -10px;
    font-weight: 700;
  }

  h2 {
    font-size: 1.7rem;
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li a {
    letter-spacing: -0.02rem;
    line-height: 1.85rem;
    color: white !important;
    cursor: pointer;
    transition: color 200ms;

    &:hover {
      color: $feinwaru !important;
      text-decoration: none;
    }
  }
}
