lang {
  z-index: 998;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0px;
  margin-top: 60px;
  background-color: rgba($darkgrey, 0.75);
  display: inline-flex;
  box-shadow: 0px 1px 0px 2px rgba($darkgrey, 0.25);
  -webkit-box-shadow: 0px 1px 0px 2px rgba($darkgrey, 0.25);
  -moz-box-shadow: 0px 1px 0px 2px rgba($darkgrey, 0.25);
  transition: margin-top 200ms;

  ul {
    align-content: center;
    height: 100%;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    padding-top: 17px;
    padding-left: 15px;
  }

  li a {
    color: white !important;
    cursor: pointer;
    transition: opacity 200ms;

    &:hover {
      opacity: 0.5;
    }
  }
}
