nav {
  z-index: 999;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $awesomo;
  display: inline-flex;
  box-shadow: 0px 1px 0px 2px rgba($awesomo, 0.5);
  -webkit-box-shadow: 0px 1px 0px 2px rgba($awesomo, 0.5);
  -moz-box-shadow: 0px 1px 0px 2px rgba($awesomo, 0.5);
  transition: background-color 500ms, box-shadow 500ms;
  -webkit-transition: background-color 500ms, box-shadow 500ms;

  &.trans {
    background-color: rgba($awesomo, 0);
    box-shadow: 0px 1px 0px 2px rgba($awesomo, 0);
    -webkit-box-shadow: 0px 1px 0px 2px rgba($awesomo, 0);
    -moz-box-shadow: 0px 1px 0px 2px rgba($awesomo, 0);
  }

  img {
    height: 60px;
    padding: 10px;
  }

  ul {
    align-content: center;
    height: 100%;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    padding-top: 17px;
    padding-left: 15px;
    &:hover {
      opacity: 0.5;
      text-decoration: none;
    }

    &.dashboard {
      a {
        margin-right: 7px;
      }
      i {
        transition: transform 200ms;
        transform: rotate(0deg);
      }
    }
  }

  li.dashboard.active {
    i {
      transform: rotate(180deg);
    }
  }

  #dropdown {
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    display: none;
  }

  li a,
  li link,
  li i {
    color: white !important;
    cursor: pointer;
    transition: opacity 200ms;

    &.premium {
      color: #ffeb3b !important;
      font-weight: 500;
    }
    &:hover {
      text-decoration: none;
    }
  }

  @media (max-width: 767px) {
    ul {
      display: none;
    }

    #dropdown {
      display: inline-block;
    }

    &.dropped {
      height: auto;
      transition: height 2s;
      -webkit-transition: height 2s;

      ul,
      li {
        float: none;
      }

      ul {
        display: block;
        padding-bottom: 20px;
      }
    }
  }
}

#dashboard {
  background-color: $darkgrey;
  position: fixed;
  z-index: 998;
  width: 100%;
  padding-top: 60px;
  opacity: 0;
  transform: translateY(calc(-100% + 60px));
  transition: transform 800ms cubic-bezier(0.4, 0.01, 0.2, 1) 0ms, opacity 400ms 400ms;

  &.active {
    opacity: 1;
    transform: translateY(0);
    transition: transform 800ms cubic-bezier(0.4, 0.01, 0.2, 1) 0ms, opacity 400ms 0ms;
  }

  h2 {
    color: white;
    i {
      font-size: 0.5em;
      transform: translateY(-6px);
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li a {
    letter-spacing: -0.02rem;
    line-height: 1.85rem;
    color: white !important;
    cursor: pointer;
    transition: color 200ms;

    &:hover {
      color: $awesomo !important;
      text-decoration: none;
    }
  }

  .promo {
    height: 100px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;

    &.text {
      height: 150px;
      position: relative;
    }

    div {
      position: absolute;
      bottom: 0;
      background-color: $awesomo;
      width: 100%;
      padding-left: 10px;

      a {
        letter-spacing: -0.02rem;
        line-height: 1.85rem;
        color: white !important;
        cursor: pointer;
        transition: color 200ms;

        &:hover {
          color: rgba(white, 0.5) !important;
          text-decoration: none;
        }
      }
    }
  }
}
