<footer class="page-footer center-on-small-only elegant-color-dark">
    <!-- Footer Links-->
    <div class="container">
        <div class="row">
            <hr class="w-100 clearfix d-sm-none">
            <!-- Third column-->
            <div class="col-lg-4 col-md-4 float-right">
                <img src="../../../../../img/feinwaru_logo.png" class="img-fluid" alt="Responsive image">
            </div>

            <!-- Third column-->
            <div class="col-lg-4 col-md-4">
                <h5 class="title font-bold mt-3 mb-4">Resources</h5>
                <ul>
                    <li>
                        <a href="../status">Status</a>
                    </li>
                    <li>
                        <a href="https://github.com/MattheousDT/awesom-o/wiki">Help & Support</a>
                    </li>
                    <li>
                        <a href="https://github.com/MattheousDT/awesom-o/issues">Feedback</a>
                    </li>
                    <li>
                        <a href="../terms">Terms</a>
                    </li>
                </ul>
            </div>
            <!-- /.Third column-->
            <hr class="w-100 clearfix d-sm-none">
            <!-- Fourth column-->
            <div class="col-lg-4 col-md-4 mx-auto">
                <h5 class="title font-bold mt-3 mb-4">About</h5>
                <ul>
                    <li>
                        <a href="../#about">About</a>
                    </li>
                    <li>
                        <a href="https://github.com/mattheousdt/awesom-o">Fork on Github</a>
                    </li>
                    <li>
                        <a href="https://patreon.com/awesomo">Donate</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/southpark">/r/SouthPark Discord</a>
                    </li>
                </ul>
            </div>
            <!-- /.Fourth column-->
        </div>
    </div>
    <!-- /.Footer Links-->
    <hr>
    <!-- Call to action-->
    <div class="call-to-action">
        <ul>
            <li>
                <h5>Join the /r/SouthPark Discord</h5>
            </li>
            <li>
                <a class="btn btn-indigo" target="_blank" href="https://discord.gg/southpark" rel="nofollow">Join Now!</a>
            </li>
        </ul>
    </div>
    <!-- /.Call to action-->
    <!-- Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">© 2018 Copyright
            <a href="https://feinwaru.org/"> Feinwaru Software </a>
        </div>
    </div>
    <!-- /.Copyright-->
</footer>