<!DOCTYPE html>
<html>

<head>
        <%- include partials/headers.ejs %>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AWESOM-O // <%= trans.HOME %></title>

<style>

    html,
    body,
    header,
    .view {
      height: 100%;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 815px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 600px;
      }
    }

    .intro-2 {
        background: url("/img/404.jpg")no-repeat center center;
        background-size: cover;
    }
</style>

<body class="creative-lp">

    <!-- Navigation & Intro -->
    <header>

        <!--Intro Section-->
        <section class="view intro-2">
            <div class="mask rgba-gradient-2">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <div class="text-center white-text">
                                <ul class="list-unstyled py-5 mx-lg-5">
                                    <li>
                                        <h1 class="display-1 mt-5 mx-5 mt-lg-0 mb-5 font-weight-bold white-text wow fadeIn" data-wow-delay="0.3s">
                                            <strong><%= trans.ERROR_404 %></strong>
                                        </h1>
                                        <a class="btn btn-white btn-lg wow fadeInUp " onclick="goBack()" data-wow-delay="0.2s" rel="nofollow"><%= trans.ERROR_404_BUTTON %></a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </header>
    <!-- Navigation & Intro -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../../js/mdb.min.js"></script>

    <script>
        function goBack() {
            window.history.back();
        }
        </script>
</body>

</html>