<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Feinwaru // AWESOM-O</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#ff594f">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
</head>

<style>
    html,
    body,
    header,
    .view {
        height: 100%;
    }


    @media (max-width: 740px) {
        html,
        body,
        header,
        .view {
            height: 1000px;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {
        html,
        body,
        header,
        .view {
            height: 600px;
        }
    }

    body {
        font-weight: 400;
    }

    .intro-2 {
        background: url("/img/awesomo-bg.jpg") no-repeat center center;
        background-size: cover;
    }

    .display-3 {
        letter-spacing: 5px;
    }

    #overlay {
        position: fixed;
        /* Sit on top of the page content */
        display: none;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("https://www.hdwallpapers.in/download/windows_xp_bliss-wide.jpg") fixed no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: 2;
        /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
        /* Add a pointer on hover */
    }

    #overlay2 {
        position: fixed;
        /* Sit on top of the page content */
        display: none;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        z-index: 2;
        /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
        /* Add a pointer on hover */
    }

    .frame {
        height: 100%;
        /* equals max image height */
        width: 100%;
        white-space: nowrap;

        text-align: center;
        margin: 1em 0;
    }

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    img {
        background: #3A6F9A;
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
    }
</style>

<body class="creative-lp">

    <!-- Navigation & Intro -->
    <header>

        <!--Intro Section-->
        <section class="view intro-2">
            <div class="mask rgba-gradient-1">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row pt-5 mt-3">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <div class="text-center white-text">
                                <ul class="list-unstyled ">
                                    <li>
                                        <h1 class="display-3 mt-md-5 mt-lg-0 mb-5 font-weight-bold white-text wow fadeIn" data-wow-delay="0.3s">
                                            <strong>AWESOM-O 3.0</strong>
                                        </h1>
                                    </li>
                                    <li>
                                        <h4 class="white-text description mb-4 wow fadeIn" data-wow-delay="0.4s">Sign up for Earliest Access™
                                        </h4>
                                    </li>

                                    <!--Grid row-->
                                    <div class="row mt-5 mb-5 pt-4" id="countdown">

                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-3">
                                            <hr class="white mx-5">
                                            <h1 class="display-4 font-weight-bold white-text">
                                                <strong>??</strong>
                                            </h1>
                                            <hr class="white mx-5">
                                            <p class="font-weight-bold spacing">DAYS</p>
                                        </div>
                                        <!--Grid column-->

                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-3">
                                            <hr class="white mx-5">
                                            <h1 class="display-4 font-weight-bold white-text">
                                                <strong id="count-hours"></strong>
                                            </h1>
                                            <hr class="white mx-5">
                                            <p class="font-weight-bold">HOURS</p>
                                        </div>
                                        <!--Grid column-->

                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-3">
                                            <hr class="white mx-5">
                                            <h1 class="display-4 font-weight-bold white-text">
                                                <strong id="count-minutes"></strong>
                                            </h1>
                                            <hr class="white mx-5">
                                            <p class="font-weight-bold spacing">MINS</p>
                                        </div>
                                        <!--Grid column-->

                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-3">
                                            <hr class="white mx-5">
                                            <h1 class="display-4 font-weight-bold white-text">
                                                <strong id="count-seconds"></strong>
                                            </h1>
                                            <hr class="white mx-5">
                                            <p class="font-weight-bold spacing">SECS</p>
                                        </div>
                                        <!--Grid column-->

                                    </div>
                                    <!--Grid row-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </header>
    <!-- Navigation & Intro -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- jQuery Countdown -->
    <script type="text/javascript" src="/js/jquery.countdown.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#countdown').countdown('2018/09/11 00:00:00', function (event) {
                //$('#count-days').html(event.strftime('%D'));
                $('#count-hours').html(event.strftime('%H'));
                $('#count-minutes').html(event.strftime('%M'));
                $('#count-seconds').html(event.strftime('%S'));
            });
        });
    </script>
    <script>
        var keyCodes = [],
            konamiString = "38,38,40,40,37,39,37,39,66,65";
        $(document).keydown(function (e) {
            keyCodes.push(e.keyCode);
            if (keyCodes.toString().indexOf(konamiString) >= 0) {
                $(document).unbind('keydown', arguments.callee);
                $('#overlay').show();
                $('#audio1')[0].play();
                $("#error1").click(() => {
                    $('audio').each(function () {
                        this.pause(); // Stop playing
                        this.currentTime = 0; // Reset time
                    });
                    $('#audio1')[0].play();
                    $('#error2').show();
                    $("#error2").click(() => {
                        $('audio').each(function () {
                            this.pause(); // Stop playing
                            this.currentTime = 0; // Reset time
                        });
                        $('#audio1')[0].play();
                        $('#error3').show();
                        $("#error3").click(() => {
                            $('#overlay2').show();
                            $('#teehee').get(0).play()
                        });
                    });
                });
            }
        });
    </script>

    <audio id="audio1" style="display:none;">
        <source src="error.mp3" type="audio/mp3">
        <embed height="50" width="100" src="error.mp3">
    </audio>

    <div id="overlay" onclick="off()">
        <div class="frame">
            <span class="helper"></span>
            <img src="/img/error1.png" height="25%" style="z-index: 1;" id="error1">
            <img src="/img/error2.png" style="display: none; position: absolute; top: 40%; left: 40%; z-index: 3;" height="25%" id="error2">
            <img src="/img/error3.png" style="display: none; position: absolute; top: 50%; left: 50%; z-index: 3;" height="25%" id="error3">
        </div>
    </div>
    <div id="overlay2" onclick="off()">
        <video style="width: 100%" id="teehee">
            <source src="vhs.mp4" type="video/mp4" id="teehee2">
        </video>
    </div>
</body>

</html>